


@mixin contentTemplate {
  min-width: 50%;
  margin: 0 auto !important;
  margin-bottom: 20px !important;
}

@media (min-width: 850px) {
  .contentContainer {
    @include contentTemplate;
    width: 65% !important;
  }
}

@media (max-width: 850px) and (min-width: 320px){
  .contentContainer {
    @include contentTemplate;
    width: 95% !important;
  }
}
.metaContainer {
  display: flex;
  div {
    margin-right: 5px;
  }
}
