

.container {
  padding: 15px 30px;

  h1 {
    font-size: 3em !important;
  }

  .mainLink {
    margin-bottom: 40px;
    a {
      font-size: 2em !important;
    }
  }
}

.reloadBtn {
  margin-left: 20px !important;
}

.commentsBlock {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
